<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/screens/issues"> </ion-back-button>
    </ion-buttons>
    <ion-menu-button>
      <ion-button contentId="main-content">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="notifications()">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
