.notifi-block {
    background-color: #eff3f9;
    padding: 8px 16px;
    border-radius: 10px;
    margin: 10px 0;

    .operator-name, .date-time {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-icon {
        font-size: 22px;
        color: red;
        cursor: pointer;
      }
    }

    h5 {
      font-size: 18px;
      font-weight: 500;
      color: var(--ion-color-secondary);
      margin: 15px 0;

      span {
        color: var(--ion-color-primary);
      }
    }

    p.time, p.date {
      font-size: 18px;
      font-weight: 500;
      color: var(--ion-color-secondary);
      margin: 5px 0;
    }

}
