<app-header></app-header>

<ion-content>
  <ion-grid class="ion-padding">
    <div class="icon-page">
      <ion-icon name="notifications-outline"></ion-icon>
    </div>
    <!-- Notifications  -->
    <div class="notifi-block">
      <div class="operator-name">
        <h5 class="time">Operator: <span> Name </span></h5>
        <p class="status"><ion-icon name="trash-outline"></ion-icon></p>
      </div>
      <h5>Equipment: <span> MC 128 #154 </span></h5>
      <h5>Location: <span> Al ain elsokhna port </span></h5>
      <div class="date-time">
        <p class="date">19/8/2022</p>
        <p class="time">12:25PM</p>
      </div>
    </div>
    <!-- Notifications -->

    <!-- Notifications  -->
    <div class="notifi-block">
      <div class="operator-name">
        <h5 class="time">Operator: <span> Name </span></h5>
        <p class="status"><ion-icon name="trash-outline"></ion-icon></p>
      </div>
      <h5>Equipment: <span> MC 128 #154 </span></h5>
      <h5>Location: <span> Al ain elsokhna port </span></h5>
      <div class="date-time">
        <p class="date">19/8/2022</p>
        <p class="time">12:25PM</p>
      </div>
    </div>
    <!-- Notifications -->

    <!-- Notifications  -->
    <div class="notifi-block">
      <div class="operator-name">
        <h5 class="time">Operator: <span> Name </span></h5>
        <p class="status"><ion-icon name="trash-outline"></ion-icon></p>
      </div>
      <h5>Equipment: <span> MC 128 #154 </span></h5>
      <h5>Location: <span> Al ain elsokhna port </span></h5>
      <div class="date-time">
        <p class="date">19/8/2022</p>
        <p class="time">12:25PM</p>
      </div>
    </div>
    <!-- Notifications -->
  </ion-grid>
</ion-content>
