<app-header></app-header>

<ion-content>
  <ion-grid class="ion-padding">
    <div class="icon-page">
      <h3>{{ 'selectProject' | translate }}</h3>
    </div>
    <!-- Block  -->
    <div class="block-bg" routerLink="/project-details">
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      <div class="info">
        <h4>Metro line 4</h4>
        <p>Egyption museum</p>
      </div>
    </div>
    <!--  Block -->

    <!-- Block  -->
    <div class="block-bg">
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      <div class="info">
        <h4>Metro line 4</h4>
        <p>Egyption museum</p>
      </div>
    </div>
    <!--  Block -->

    <!-- Block  -->
    <div class="block-bg">
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      <div class="info">
        <h4>Metro line 4</h4>
        <p>Egyption museum</p>
      </div>
    </div>
    <!--  Block -->

    <!-- Block  -->
    <div class="block-bg">
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      <div class="info">
        <h4>Metro line 4</h4>
        <p>Egyption museum</p>
      </div>
    </div>
    <!--  Block -->
  </ion-grid>
</ion-content>
