h3 {
  color: var(--ion-color-secondary);
  font-weight: 600;
  margin: 0 0 18px 0;
}

.report-image {
  text-align: center;
  margin-top: 60px;
  ion-img {
    width: 70%;
    height: auto;
    margin: auto;
  }
}
