<app-header></app-header>

<ion-content class="ion-padding">
  <h2 class="title ion-text-center">{{ "SelectBreakdown" | translate }}</h2>

  <ion-grid class="ion-padding">
    <ion-row class="ion-text-center">
      <ion-col size="6">
        <ion-img
          src="https://docs-demo.ionic.io/assets/madison.jpg"
          class="ion-margin-bottom"
        ></ion-img>
        <ion-checkbox></ion-checkbox>
      </ion-col>

      <ion-col size="6">
        <ion-img
          src="https://docs-demo.ionic.io/assets/madison.jpg"
          class="ion-margin-bottom"
        ></ion-img>
        <ion-checkbox></ion-checkbox>
      </ion-col>

      <ion-col size="6">
        <ion-img
          src="https://docs-demo.ionic.io/assets/madison.jpg"
          class="ion-margin-bottom"
        ></ion-img>
        <ion-checkbox></ion-checkbox>
      </ion-col>

      <ion-col size="6">
        <ion-img
          src="https://docs-demo.ionic.io/assets/madison.jpg"
          class="ion-margin-bottom"
        ></ion-img>
        <ion-checkbox></ion-checkbox>
      </ion-col>

      <ion-col size="6">
        <ion-img
          src="https://docs-demo.ionic.io/assets/madison.jpg"
          class="ion-margin-bottom"
        ></ion-img>
        <ion-checkbox></ion-checkbox>
      </ion-col>

      <ion-col size="6">
        <ion-img
          src="https://docs-demo.ionic.io/assets/madison.jpg"
          class="ion-margin-bottom"
        ></ion-img>
        <ion-checkbox></ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
