<app-header></app-header>

<ion-content class="ion-padding">
  <h2 class="title ion-text-center">{{ "SelectBreakdown" | translate }}</h2>

  <ion-grid class="ion-padding">
    <ion-row class="ion-text-center">
      <ion-col size="6" *ngFor="let break of breakdownList">
        <ion-img [src]="break.image" class="ion-margin-bottom"></ion-img>
        <ion-checkbox
          (ionChange)="selectImage($event, break.id)"
        ></ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
