<app-header></app-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <table class="table">
        <thead>
          <tr>
            <th>Project</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="">BG 28 #3492</td>
            <td class="ready">Ready to operate</td>
          </tr>
          <tr>
            <td class="">BG 28 #3492</td>
            <td class="ready">Ready to operate</td>
          </tr>
          <tr>
            <td class="">BG 28 #3492</td>
            <td>Under maintenance</td>
          </tr>
          <tr>
            <td class="">BG 28 #3492</td>
            <td>Under maintenance</td>
          </tr>
        </tbody>
      </table>
    </ion-row>
  </ion-grid>
</ion-content>
