<app-header></app-header>

<ion-content>
  <ion-grid class="">
    <div class="icon-page">
      <ion-img src="../../../assets/images/spare-parts.png"> </ion-img>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="id-color">12</td>
          <td>Hyd.filter</td>
          <td>542005</td>
          <td><ion-icon name="trash-outline"></ion-icon></td>
        </tr>
        <tr>
          <td class="id-color">12</td>
          <td>Hyd.filter</td>
          <td>542005</td>
          <td><ion-icon name="trash-outline"></ion-icon></td>
        </tr>
        <tr>
          <td class="id-color">12</td>
          <td>Hyd.filter</td>
          <td>542005</td>
          <td><ion-icon name="trash-outline"></ion-icon></td>
        </tr>
        <tr>
          <td class="id-color">12</td>
          <td>Hyd.filter</td>
          <td>542005</td>
          <td><ion-icon name="trash-outline"></ion-icon></td>
        </tr>
      </tbody>
    </table>
    <div class="add-actions" routerLink="/scan-qrcode">
      <ion-icon name="add-circle-outline"></ion-icon>
    </div>
  </ion-grid>
</ion-content>
