<app-header></app-header>
<ion-toolbar color="primary">
  <ion-title>
    <h5 class="text-ar">{{ userInfo.email }}</h5>
    <h3>{{ userInfo.roles }}</h3>
  </ion-title>
</ion-toolbar>

<ion-content>
  <ion-grid class="ion-padding">
    <h2 class="title">{{ "reports" | translate }}</h2>
    <!-- Report Block [ senior - gunior - technichan ] -->
    <div class="report-block" *ngFor="let issue of issueList.list">
      <h4 [routerLink]="['/issue-details', issue.id]">Project</h4>
      <h5>{{ issue.projectName }}</h5>
      <p class="category">Equipment</p>
      <p class="code">{{ issue.equipmentName }}</p>
      <div class="status-time">
        <p class="time">{{ issue.creationDate }}</p>
        <p class="status" style="color: var(--ion-color-primary)">
          {{ 'inProgress' | translate}}
        </p>
      </div>
    </div>
    <!-- Report Block -->

    <!-- Report Block [ Operator ] -->
    <div *ngIf="userInfo.roles === permissions.Operator " class="report-image">
      <ion-img src="../../../assets/images/report.png"></ion-img>
      <ion-button routerLink="/select-breakdown"> Create issue </ion-button>
    </div>
  </ion-grid>
</ion-content>
